@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto Slab", serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.heading {
  background: white;
  height: 5%;
  margin: 10px;
  padding: 10px;
}

.swiper-container {
  width: 100%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-general {
  padding: 75px 0;
  margin: 0 auto;
  width: 900px;
}
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}
.container-general .gallery-wrap .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item:hover {
  flex: 7;
}

/* IMAGENES */

.wrap-effect-1 .item:first-of-type {
  background-image: url("https://static.bandainamcoent.eu/high/dragon-ball/dragonball-project-z/00-page-setup/dbzk_game-thumbnail.jpg");
}
.wrap-effect-1 .item:nth-of-type(2) {
  background-image: url("https://phantom-marca.unidadeditorial.es/4d97824932ba4a9cd7285be5c7317c44/resize/1320/f/jpg/assets/multimedia/imagenes/2022/11/17/16687145015683.jpg");
}
.wrap-effect-1 .item:nth-of-type(3) {
  background-image: url("https://i.pinimg.com/originals/82/fe/bb/82febb1f565f2380bde55f14e6a1b11d.gif");
}
.wrap-effect-1 .item:nth-of-type(4) {
  background-image: url("https://w0.peakpx.com/wallpaper/61/981/HD-wallpaper-piccolo-03-dragon-ball-super.jpg");
}
.wrap-effect-1 .item:last-of-type {
  background-image: url("https://cdn.donmai.us/original/98/32/9832ff72d948950352fcb06a916755b8.jpg");
}

.inspire {
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.inspire:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.inspire:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.swiper-container-cube .swiper-cube-shadow {
  background-color: transparent !important;
}